#CAP
_out
*.db
connection.properties
gen/
node_modules/
target/

#WebIDE, BAS
.che/
.gen/
.idea/
.mta/
*.mtar
dist/
mta_archives/
.vscode

#Other
.DS_Store
*.orig
*.log
*.iml
*.plattened-pom.xml

#UI%
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/
gen/
